---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Portifolio Gabriel Basaglia"
  seoTitle="Gabriel Basaglia, desenvolvedor FullStack"
  seoDesc="Desenvolvedor FullStack, Astro, React, NextJS e Node"
>
  <main>
    <h1 class="text-5xl font-bold">Hello World</h1>
  </main>
</Layout>
