---
import Layout from "../layouts/Layout.astro";
---

<footer class="text-center mt-auto mb-4">
  <small
    >Copyright &copy;
    <span id="copyright"> | All rights reserved</span> | All rights reserved.
    Built with ♥ by Gabriel Basaglia.
  </small>

  <script>
    document.querySelector("#copyright").textContent = new Date()
      .getFullYear()
      .toString();
  </script>
</footer>
