---
import MainHead from "./MainHead.astro";

const { title, seoTitle, seoDesc } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
  <body>
    <slot />
  </body>
</html>
